@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --accent: oklch(27.9% 0.041 260.031);
  --background: oklch(0.973 0.0133 286.15);
  --foreground: oklch(27.9% 0.041 260.031);
  --primary: oklch(0.623 0.214 259.815);
  --secondary: oklch(77.121% 0.25568 142.862);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --muted: oklch(91.541% 0.01224 286.037);
  --muted-foreground: oklch(55.202% 0.01541 285.833);
  --card: oklch(1 0 0);
  --card-foreground: oklch(37.2% 0.044 257.287);
  --border: oklch(0.92 0.004 286.32);
  --ring: oklch(0.623 0.214 259.815);
}

.dark {
  --accent: oklch(27.9% 0.041 260.031);
  --background: oklch(23.853% 0.02644 249.017);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.623 0.214 259.815);
  --secondary: oklch(63.7% 0.19926 144.348);
  --primary-foreground: oklch(0.379 0.146 265.522);
  --card: oklch(23.853% 0.02644 249.017);
  --card-foreground: oklch(0.985 0 0);
  --muted: oklch(32.29% 0.06157 282.402);
  --muted-foreground: oklch(70.566% 0.01449 285.949);
  --border: oklch(1 0 0 / 10%);
  --ring: oklch(0.488 0.243 264.376);
}

@theme inline {
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-muted-foreground: var(--card-muted-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
    color: var(--foreground);
    font-family: 'Geist', sans-serif;
    font-weight: 300;
  }
}
